<%= content_for :head do %>
  <%= render "share/mathjax" %>
<% end %>

<%= simple_form_for @question do |f| %>
  <%= error_message f.object %>
  <div class="row">
    <div class="span6">
      <%= f.input :content, :input_html => {:class => "span6"} %>
      <%= f.input :subject_list %>
      <%= f.input :question_type_list %>
      <%= f.input :knowledge_point_list %>
      <%= f.input :chapter_location_list %>
      <%= f.input :location_list %>
      <%= f.input :source_list %>
      <%= f.input :concept_list %>
    </div>
    <div class="span6">
      <p><%= t("share.preview") %></p>
      <p id="question_preview" class="well"></p>
    </div>
  </div>
  <%= f.submit :class => "btn btn-large" %>
<% end %>