<%= content_for :head do %>
  <%= render "share/mathjax" %>
<% end %>

<%= simple_form_for @question do |f| %>
  <div class="row">
    <div class="span6">
      <%= f.input :content, :input_html => {:class => "span6"} %>
      <%= f.input :tag_list %>
    </div>
    <div class="span6">
      <p><%= t("share.formula_preview") %></p>
      <p id="question_preview" class="well"></p>
    </div>
  </div>
  <%= f.submit :class => "btn btn-large" %>
<% end %>