<%= content_for :head do %>
  <%= render "share/mathjax" %>
  <%= render 'share/tiny_mce' %>
<% end %>

<%= form_tag import_save_questions_path do %>
  <% @questions.each do |q| %>
    <%= error_message q %>
    <!-- 參考：http://guides.rubyonrails.org/form_helpers.html#combining-them -->
    <%= simple_fields_for "questions[]", q do |f| %>
      <div class="question-row">
        <div class="row-fluid">
          <div class="span6">
            <%= link_to t('formula_generator'), "http://www.codecogs.com/latex/eqneditor.php", target: '_blank' %><br>
            <%= link_to Image.model_name.human(count: 2), "#images-#{q.__id__}", :role => 'button', 'data-toggle' => :modal %>
            <div id="images-<%= q.__id__ %>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">header</h3>
              </div>
              <div class="modal-body">
                <ul class="thumbnails">
                  <% q.images.each do |img|%>
                  <li class="span2">
                    <a class="thumbnail">
                      <%= image_tag img.file_url %>
                    </a>
                  </li>
                  <% end %>
                </ul>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary">XXX</button>
              </div>
            </div>
            <%= f.input :content, input_html: {class: "span12 content"}  %>
          </div>
          <div class="span6">
            <p><%= t("share.preview") %></p>
            <div class="well preview"></div>
          </div> 
        </div>
        <h3><%= Option.model_name.human count: 2 %></h3>
        <%= f.simple_fields_for :options do |ff| %>
          <div class="row-fluid option-row">
            <div class="span6">
              <%= ff.input :content, label: false, input_html: {class: 'option-content'} %>
              <%= ff.input :is_answer %>
            </div>
            <div class="span6">
              <div class="well">
                <div class="option-preview"></div>
              </div>
            </div>
          </div>
          <hr>
        <% end %>
        <div class="row-fluid">
          <div class="span6">
            <%= f.input :solution, input_html: {class: "question_solution span12"} %>
          </div>
          <div class="span6">
            <p><%= t("share.preview") %></p>
            <p class="solution_preview well"></p>
          </div>
        </div>
        <%= f.input :subject_list %>
        <%= f.input :question_type_list %>
        <%= f.input :knowledge_point_list %>
        <%= f.input :chapter_location_list %>
        <%= f.input :location_list %>
        <%= f.input :source_list %>
        <%= f.input :concept_list %>
        <%= f.input :image_ids, as: :hidden %>
      </div>
    <% end %>
    <hr>
  <% end %>
  <%= submit_tag %>
<% end %>