<%= content_for :head do %>
  <%= render "share/mathjax" %>
<% end %>

<%= form_tag import_save_questions_path do %>
  <% @questions.each do |q| %>
    <%= error_message q %>
    <div class="row question-row">
      <div class="span6">
        <!-- 參考：http://guides.rubyonrails.org/form_helpers.html#combining-them -->
        <%= simple_fields_for "questions[]", q do |f| %>
          <%= f.input :content, input_html: {rows: 10, class: "span6 content"} %>
          <%= f.input :subject_list %>
          <%= f.input :question_type_list %>
          <%= f.input :knowledge_point_list %>
          <%= f.input :chapter_location_list %>
          <%= f.input :location_list %>
          <%= f.input :source_list %>
          <%= f.input :concept_list %>
        <% end %>
      </div>
      <div class="span6">
        <div class="well preview"></div>
      </div>
    </div>
  <% end %>
  <%= submit_tag %>
<% end %>